body{
    background: #73bf7d;
    background: linear-gradient(145deg, rgba(115, 191, 125, 1) 0%, rgba(186, 227, 184, 1) 100%);
    width:100vw;
    height:100vh;
    overflow:hidden;
}
.gradient{
    user-select:none;
    z-index:-100000;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width:100vw;
    height:100vh;
    background-image: linear-gradient(145deg, rgba(115, 191, 125, 1) 0%, rgba(186, 227, 184, 1) 100%);
}
h1{
    background-image: linear-gradient(145deg, rgb(83, 179, 96) 0%, rgb(131, 225, 126) 100%);
    color:transparent;
    background-clip: text;
    font-size:200px;
    z-index:-100;
}
p{
    font-family:sans-serif;
    display:none;
    color:white;
    font-size:30px;
    text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
    -webkit-text-stroke: 0.1px black;   
    width:75vw;
    text-align: center;
}
span{
    text-shadow: 1px 0 3px black;    
    -webkit-text-stroke: 1.25px black;
    font-weight:bold;
}

.wrapper{
    top:0;
    left:0;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    flex-direction: column;
}
.question{
    width:120px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    
    cursor:pointer;
}
.fetus{
    user-select:none;
    position:relative;
    display:none;
    width:100vw;
    height:100vh;
    background-color:black;
}
.image{
    --width:150px;
    width:var(--width);
    position:absolute;
    user-select: none;
    opacity:100;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    
}
.cow{
    object-fit: contain;
    width:calc(var(--width) + 20px);
}
.elephant{
    object-fit: contain;
    width:calc(var(--width) + 10px);
}
.purse{
    width:calc(var(--width) - 40px);
}
.means{
    width:calc(var(--width) - 20px);
}
.apple{
    width:calc(var(--width) - 20px);
}
.train{
    width:calc(var(--width) - 20px);
}